/* CARD */

.card {
  @extend .depth-1;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: white;
  height: auto;
  overflow: visible;
  display: block;
  position: relative;
  float:left;
  margin:16px 0 0 16px;

  transition:box-shadow 0.2s;

  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -moz-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -o-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &.clickable {
    cursor: pointer;
    @extend .depth-1;
    &:hover {
      @extend .depth-3;
    }
  }

  &.image-card {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    .banner {
      -webkit-background-size: cover;
      background-size: cover;
      background-position: center;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      display: block;
    }

    .title-over {
      position: absolute;
      bottom:0;
      &.text-protection {
        background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.6));
      }
      h1 {
        color:white;
        font-weight: 300;
        padding:16px;
        margin:0 0 0 0;
      }
    }
  }

  .content {
    h1 {
      font-weight: 300;
      margin:24 - 16px 0px 12px 0px;
      padding:0;
      color:$text;
      font-size: 24px;
    }

    p {
      font-size: 14px;
    }
    & .sub-head {
      color:$text-muted;
      margin-bottom: 16px;
    }
    padding:16px;
  }
}

@media screen and (max-width:480px) {
  .card {

  }
}
