@font-face {
  font-family: "Roboto";
  src: url(fonts/Roboto-Regular.ttf);
  font-weight: normal; }
@font-face {
  font-family: "Roboto-Thin";
  src: url(fonts/Roboto-Thin.ttf);
  font-weight: normal; }
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(icons/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(icons/MaterialIcons-Regular.woff2) format("woff2"), url(icons/MaterialIcons-Regular.woff) format("woff"), url(icons/MaterialIcons-Regular.ttf) format("truetype"); }
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  font-family: "Roboto"; }

p {
  font-weight: 400;
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  line-height: 1.5; }

h1 {
  color: #3b393d;
  font-size: 1.5em;
  line-height: 1;
  margin: 0; }

h2 {
  font-size: .95em;
  line-height: 1;
  margin: 5px 0 0;
  color: #777778; }

menu, ul {
  -webkit-padding-start: 0;
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px; }

/* BLUES */
/* GREYS */
/* GREENS */
/* REDS */
::selection {
  color: white;
  background-color: #16a085; }

body {
  background-color: #f0f0f0; }

.accent {
  background-color: #16a085 !important;
  color: white !important; }

.A500 {
  background-color: #3f51b5; }

.text {
  color: black !important; }

.text-muted {
  color: #777778 !important; }

.depth-1, .button.raised, button.fab, .raised, .toolbar #tabs ul li img, .card, .card.clickable {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.depth-2, .button.raised:hover, button.fab:hover, .raised:hover, .toolbar, .toolbar #tabs .dropdown-content, menuwrapper.small {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.depth-3, .button.raised:active, .raised:active, .card.clickable:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.depth-4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.depth-5, button.fab:active {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }

/* Button */
.button {
  display: inline-block;
  position: relative;
  height: 36px;
  line-height: 36px;
  border-radius: 2px;
  font-size: 0.9em;
  background-color: #fff;
  color: #727272;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.01em;
  font-weight: 500;
  border: none;
  outline: none;
  padding: 0 16px 0 16px; }
  .button.accent {
    background-color: #16a085;
    color: white; }
  .button.button-card {
    margin: 8px;
    text-align: center;
    float: right;
    overflow: hidden;
    font-weight: 600; }
    .button.button-card:hover {
      background-color: #efefef;
      color: black; }

button.fab {
  height: 56px;
  width: 56px;
  border-radius: 56px;
  position: absolute;
  right: 125px;
  margin-top: -28px;
  color: white;
  border: none;
  line-height: 0px;
  -webkit-transition: box-shadow 0.2s;
  -moz-transition: box-shadow 0.2s;
  -ms-transition: box-shadow 0.2s;
  -o-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
  cursor: pointer; }
  button.fab.small {
    height: 48px;
    width: 48px; }
  button.fab.global {
    position: fixed;
    right: 16px;
    bottom: 16px; }
  button.fab:active {
    outline: none;
    border: none; }
  button.fab:focus {
    outline: none; }

.toolbar {
  height: 56px;
  background-color: #3f51b5;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  z-index: 1000; }
  .toolbar #tabs {
    float: right;
    height: 65px; }
    .toolbar #tabs ul {
      text-decoration: none;
      list-style: none;
      line-height: 56px;
      height: 56px;
      margin: 0px; }
      .toolbar #tabs ul li {
        float: left;
        padding: 0 16px 0 16px;
        cursor: pointer;
        height: 56px;
        color: white; }
        .toolbar #tabs ul li img {
          height: 32px;
          width: 32px;
          float: left;
          margin: 12px;
          border-radius: 100%; }
        .toolbar #tabs ul li i {
          line-height: 56px;
          color: white; }
    .toolbar #tabs .dropdown {
      position: relative;
      display: inline-block; }
    .toolbar #tabs .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      width: 192px;
      z-index: 1;
      right: 8px;
      top: 56px; }
      .toolbar #tabs .dropdown-content ul li {
        color: black;
        width: 160px; }
        .toolbar #tabs .dropdown-content ul li:hover {
          background-color: #eee; }
    .toolbar #tabs .dropdown:hover .dropdown-content {
      display: block; }
  .toolbar h1 {
    margin: 0px;
    padding: 0 0 0 16px;
    float: left;
    line-height: 56px;
    color: white;
    font-size: 20px;
    font-weight: 300; }

body {
  padding-top: 65px; }

/* CARD */
.card {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: white;
  height: auto;
  overflow: visible;
  display: block;
  position: relative;
  float: left;
  margin: 16px 0 0 16px;
  transition: box-shadow 0.2s;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -moz-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -o-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
  .card.clickable {
    cursor: pointer; }
  .card.image-card {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
    .card.image-card .banner {
      -webkit-background-size: cover;
      background-size: cover;
      background-position: center;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      display: block; }
    .card.image-card .title-over {
      position: absolute;
      bottom: 0; }
      .card.image-card .title-over.text-protection {
        background: linear-gradient(transparent, rgba(0, 0, 0, 0.6)); }
      .card.image-card .title-over h1 {
        color: white;
        font-weight: 300;
        padding: 16px;
        margin: 0 0 0 0; }
  .card .content {
    padding: 16px; }
    .card .content h1 {
      font-weight: 300;
      margin: 8px 0px 12px 0px;
      padding: 0;
      color: black;
      font-size: 24px; }
    .card .content p {
      font-size: 14px; }
    .card .content .sub-head {
      color: #777778;
      margin-bottom: 16px; }

menuwrapper {
  bottom: 0;
  left: 0;
  overflow: visible;
  position: fixed;
  width: 232px;
  top: 56px;
  z-index: 1;
  -webkit-transform: translateX(-242px);
  transform: translateX(-242px);
  -webkit-transition: -webkit-transform .15s ease-in-out;
  transition: transform .15s ease-in-out;
  will-change: top,left; }

menuwrapper.open {
  -webkit-transform: translateX(0);
  transform: translateX(0); }

menuwrapper.small {
  background-color: #f0f0f0; }

menu {
  bottom: 0;
  color: #616161;
  line-height: 40px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 16px 8px 0;
  position: absolute;
  white-space: nowrap;
  width: 216px;
  top: 0;
  z-index: 1; }
  menu ul {
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    list-style: none;
    padding: 0 0 8px 0;
    position: relative; }
    menu ul li {
      cursor: pointer;
      display: block;
      overflow: hidden;
      padding: 4px 0;
      position: relative;
      text-overflow: ellipsis;
      padding-left: 16px; }
      menu ul li a {
        color: #616161;
        text-decoration: none; }
      menu ul li i {
        margin-top: 8px;
        float: left; }
      menu ul li span {
        padding-left: 24px; }
      menu ul li:hover, menu ul li.active:hover {
        background-color: rgba(0, 0, 0, 0.03);
        border-radius: 2px; }
      menu ul li.active a {
        color: #3f51b5; }
      menu ul li.active {
        color: #3f51b5;
        background-color: rgba(0, 0, 0, 0.06); }

.group {
  position: relative;
  margin-bottom: 45px; }
  .group.half {
    float: left;
    width: 50%; }
  .group.third {
    float: left;
    width: 33.33%; }
  .group.two-third {
    float: left;
    width: 66.66%; }

input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  -webkit-appearance: none;
  display: block;
  color: #636363;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #757575;
  font-family: Roboto; }

input:focus {
  outline: none; }

/* Label */
label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: all 0.2s;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -moz-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -o-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }

/* active */
input:focus ~ label, input.used ~ label {
  top: -20px;
  transform: scale(0.75);
  left: -2px;
  /* font-size: 14px; */
  color: #3f51b5; }

/* Underline */
.bar {
  position: relative;
  display: block;
  width: 100%; }

.bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #3f51b5;
  transition: all 0.2s;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -moz-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -o-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }

.bar:before {
  left: 50%; }

.bar:after {
  right: 50%; }

/* active */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width: 50%; }

/* Highlight */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5; }

/* active */
input:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease; }

/*# sourceMappingURL=template.css.map */
